<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.com.zsyk.crm.ecif.mapper.EcRuleBatchMapper" >
 <select id="getTagRuleBatchData" resultType="java.util.Map" >
	SELECT 
	t7.edu_typ degree,
	t1.cust_no custNo,
	t1.sex sex,
	t1.nation nation,
	YEAR(t1.birth_date) birthYear,
	t1.marrige_sts marrigeSts
	FROM ec_cust_per t1
	LEFT JOIN ec_cust_habitavo t2 ON t1.cust_no = t2.cust_no
	LEFT JOIN ec_cust_career t3 ON t1.cust_no = t3.cust_no
	LEFT JOIN (SELECT t6.edu_typ,t6.school_nam,t6.cust_no
	                 FROM (SELECT MIN(t4.edu_typ) edu_typ ,t1.cust_no FROM ec_cust_per t1 LEFT JOIN ec_cust_edu t4 ON t1.cust_no = t4.cust_no
	                       GROUP BY t1.cust_no ) t5 ,ec_cust_edu t6
	                     WHERE t5.cust_no = t6.cust_no AND t5.edu_typ = t6.edu_typ) t7 ON t1.cust_no= t7.cust_no
	LEFT JOIN (SELECT 
	t1.cust_no,
	product_typ productTyp,
	product_cd productCd,
	product_nam productNam,
	eff_date effDate,
	exp_date expDate,
	valid_sts validSts,
	pay_bank payBank,
	pay_ac payAc,
	pay_years payYears,
	pay_tm payTm,
	pay_amt payAmt,
	pay_date payDate,
	pay_mode payMode,
	pay_chnl payChnl,
	payer payer,
	policy_holder policyHolder,
	beneficiary beneficiary,
	claim_amt claimAmt,
	claim_ttl_amt claimTtlAmt,
	protocol_claim_amt protocolClaimAmt,
	max_claim_amt maxClaimAmt,
	claim_typ claimTyp,
	insure_kind_nam insureKindNam,
	insure_kind_cd insureKindCd,
	claim_sts claimSts,
	sts_upt_tm stsUptTm,
	regi_date regiDate,
	accept_date acceptDate,
	report_date reportDate,
	loss_occur_date lossOccurDate,
	proposal_no proposalNo,
	wht_claim whtClaim FROM ec_cust_product t1 LEFT JOIN ec_cust_claim t2 ON t1.cust_no = t2.cust_no AND t2.insure_kind_cd = t1.product_cd) t8 ON t1.cust_no = t8.cust_no 
       <!--  	SELECT 
	t7.edu_typ degree,
	t7.school_nam schoolNam,
	t3.position occupation,
	t3.trade trade,
	t1.cust_no custNo,
	t1.sex sex,
	t1.native_place nativePlace,
	t1.nation nation,
	t1.birth_place birthPlace,
	t1.nationality nationality,
	t1.marrige_sts marrigeSts,
	t1.birth_date birthDate,
	t1.blood_typ bloodTyp,
	t1.height height,
	t1.polit_sts politSts,
	DATEDIFF(IFNULL(t1.death_date,NOW()), t1.birth_date)/365 age ,
	YEAR(t1.birth_date) birthYear,
	t2.habit_avoc_cd hobby,
	productTyp,
	productCd,
	productNam,
	effDate,
	expDate,
	validSts,
	payBank,
	payAc,
	payYears,
	payTm,
	payAmt,
	payDate,
	payMode,
	payChnl,
	payer,
	policyHolder,
	beneficiary,
	claimAmt,
	claimTtlAmt,
	protocolClaimAmt,
	maxClaimAmt,
	claimTyp,
	insureKindNam,
	insureKindCd,
	claimSts,
	stsUptTm,
	regiDate,
	acceptDate,
	reportDate,
	lossOccurDate,
	proposalNo,
	whtClaim

	FROM ec_cust_per t1
	LEFT JOIN ec_cust_habitavo t2 ON t1.cust_no = t2.cust_no
	LEFT JOIN ec_cust_career t3 ON t1.cust_no = t3.cust_no
	LEFT JOIN (SELECT t6.edu_typ,t6.school_nam,t6.cust_no
	                 FROM (SELECT MIN(t4.edu_typ) edu_typ ,t1.cust_no FROM ec_cust_per t1 LEFT JOIN ec_cust_edu t4 ON t1.cust_no = t4.cust_no
	                       GROUP BY t1.cust_no ) t5 ,ec_cust_edu t6
	                     WHERE t5.cust_no = t6.cust_no AND t5.edu_typ = t6.edu_typ) t7 ON t1.cust_no= t7.cust_no
	LEFT JOIN (SELECT 
	t1.cust_no,
	product_typ productTyp,
	product_cd productCd,
	product_nam productNam,
	eff_date effDate,
	exp_date expDate,
	valid_sts validSts,
	pay_bank payBank,
	pay_ac payAc,
	pay_years payYears,
	pay_tm payTm,
	pay_amt payAmt,
	pay_date payDate,
	pay_mode payMode,
	pay_chnl payChnl,
	payer payer,
	policy_holder policyHolder,
	beneficiary beneficiary,
	claim_amt claimAmt,
	claim_ttl_amt claimTtlAmt,
	protocol_claim_amt protocolClaimAmt,
	max_claim_amt maxClaimAmt,
	claim_typ claimTyp,
	insure_kind_nam insureKindNam,
	insure_kind_cd insureKindCd,
	claim_sts claimSts,
	sts_upt_tm stsUptTm,
	regi_date regiDate,
	accept_date acceptDate,
	report_date reportDate,
	loss_occur_date lossOccurDate,
	proposal_no proposalNo,
	wht_claim whtClaim FROM ec_cust_product t1 LEFT JOIN ec_cust_claim t2 ON t1.cust_no = t2.cust_no AND t2.insure_kind_cd = t1.product_cd) t8 ON t1.cust_no = t8.cust_no 
 where  t1.cust_no like '21%' --> 
  </select>
</mapper>

