<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ai.ocrm.rule.dao.StrategyMapper" >
  <resultMap id="BaseResultMap" type="com.ai.ocrm.rule.entity.Strategy" >
    <id column="strategy_id" property="strategyId" jdbcType="CHAR" />
    <result column="strategy_code" property="strategyCode" jdbcType="VARCHAR" />
    <result column="strategy_name" property="strategyName" jdbcType="VARCHAR" />
    <result column="trn_type" property="trnType" jdbcType="CHAR" />
    <result column="channel" property="channel" jdbcType="CHAR" />
    <result column="strategy_action" property="strategyAction" jdbcType="CHAR" />
    <result column="post_action" property="postAction" jdbcType="VARCHAR" />
    <result column="agent_bore" property="agentBore" jdbcType="VARCHAR" />
    <result column="priority" property="priority" jdbcType="VARCHAR" />
    <result column="warn_level" property="warnLevel" jdbcType="VARCHAR" />
    <result column="version" property="version" jdbcType="INTEGER" />
    <result column="rule_content" property="ruleContent" jdbcType="LONGVARCHAR" />
    <result column="status" property="status" jdbcType="BIT" />
    <result column="ab" property="ab" jdbcType="CHAR" />
    <result column="running_status" property="runningStatus" jdbcType="BIT" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="trainning_start_time" property="trainningStartTime" jdbcType="TIMESTAMP" />
    <result column="trainning_end_time" property="trainningEndTime" jdbcType="TIMESTAMP" />
    <result column="creater" property="creater" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="modifier" property="modifier" jdbcType="VARCHAR" />
    <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP" />
    <result column="total_count" property="totalCount" jdbcType="INTEGER" />
    <result column="hit_count" property="hitCount" jdbcType="INTEGER" />
    <result column="hit_count_a" property="hitCountA" jdbcType="INTEGER" />
  </resultMap>
  <resultMap id="rrmsResult" type="com.ai.ocrm.workbench.entity.RrmsResult">
    <id column="REQ_ID" property="reqId" jdbcType="CHAR"/>
    <result column="CHANNEL" property="channel" jdbcType="CHAR"/>
    <result column="PAYER_ACC" property="payerAcc" jdbcType="CHAR"/>
    <result column="CST_NO" property="cstNo" jdbcType="CHAR"/>
    <result column="CORE_CST_NO" property="coreCstNo" jdbcType="VARCHAR"/>
    <result column="TRAN_TYPE" property="trnType" jdbcType="CHAR"/>
    <result column="TRN_AMT" property="trnAmt" jdbcType="DECIMAL"/>
    <result column="OPT_AUTH_MODE" property="optAuthMode" jdbcType="BIT"/>
    <result column="OPERATE_CODE" property="operateCode" jdbcType="VARCHAR"/>
    <result column="WARN_LEVEL" property="warnLevel" jdbcType="CHAR"/>
    <result column="ANSWER" property="answer" jdbcType="VARCHAR"/>
    <result column="TRADE_TIME" property="tradeTime" jdbcType="TIMESTAMP"/>
    <result column="REMARK" property="remark" jdbcType="VARCHAR"/>
    <result column="is_hit" property="isHit" jdbcType="VARCHAR"/>
    <result column="ISHIT" property="isHitReal" jdbcType="VARCHAR"/>
  </resultMap>
  <insert id="saveStrategy" parameterType="com.ai.ocrm.rule.entity.Strategy" >
    insert into rule_strategy (strategy_id, strategy_code, strategy_name,
    trn_type, channel, strategy_action,
    post_action, agent_bore, priority,
    warn_level, version, status,ab,running_status,remark,
    creater, create_time, modifier,
    modify_time, rule_content)
    values (#{strategyId}, #{strategyCode}, #{strategyName},
    #{trnType}, #{channel}, #{strategyAction},
    #{postAction}, #{agentBore}, #{priority},
    #{warnLevel}, #{version,jdbcType=INTEGER}, #{status},#{ab},#{runningStatus},#{remark},
    #{creater}, #{createTime,jdbcType=TIMESTAMP}, #{modifier},
    #{modifyTime,jdbcType=TIMESTAMP}, #{ruleContent,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="saveStrategyCombineRel" parameterType="java.util.Map" >
    insert into rule_strategy_combine_rel (id,strategy_id, combine_order, combine_rule_id)
    values (#{id},#{strategy_id},#{combine_order},#{combine_rule_id})
  </insert>
  <insert id="saveSceneStrategyRel" parameterType="java.util.Map" >
    insert into rule_scene_strategy_rel(scene_code,strategy_id)
    values (#{scene_code},#{strategy_id})
  </insert>
  <select id="findAll" resultMap="BaseResultMap">
    SELECT
    t1.strategy_id, t1.strategy_code, t1.strategy_name,t1.trn_type, t1.channel, t1.strategy_action, t1.post_action,
    t1.agent_bore, t1.priority, t1.warn_level, t1.version, t1.running_status,t1.status, t1.ab,t1.remark, t1.creater, t1.create_time, t1.modifier,
    t1.modify_time,t1.total_count,t1.hit_count,t1.hit_count_a
    FROM rule_strategy t1
    LEFT JOIN rule_scene_strategy_rel t2
    ON t1.STRATEGY_ID = t2.STRATEGY_ID
    <if test="sceneList!=null and sceneList.size()>0">
      AND t2.scene_code IN
      <foreach item="item" index="index" collection="sceneList" open="(" separator="," close=")">
        #{item}
      </foreach>
    </if>
    WHERE
    <where>
      <if test="strategyName != null and strategyName != ''">
        and strategy_name LIKE CONCAT('%',#{strategyName},'%' )
      </if>
      <if test="strategyAction != null">
        and strategy_action = #{strategyAction}
      </if>
      <if test="postAction != null">
        and post_action = #{postAction}
      </if>
      <if test="warnLevel != null">
        and warn_level = #{warnLevel}
      </if>
      <if test="runningStatus != null">
        and running_status = #{runningStatus}
      </if>
      and status = 1
    </where>
  </select>
  <select id="findAllStrategys" resultMap="BaseResultMap">
    SELECT
    DISTINCT t1.strategy_id, t1.strategy_code, t1.strategy_name,t1.trn_type, t1.channel, t1.strategy_action, t1.post_action,
    t1.agent_bore, t1.priority, t1.warn_level, t1.version, t1.running_status,t1.status,t1.ab, t1.remark, t1.creater, t1.create_time, t1.modifier,
    t1.modify_time,t1.total_count,t1.hit_count,t1.hit_count_a
    FROM rule_strategy t1
    JOIN rule_scene_strategy_rel t2    ON t1.STRATEGY_ID = t2.STRATEGY_ID
    <if test="sceneList!=null and sceneList.size()>0">
      AND t2.scene_code IN
      <foreach item="item" index="index" collection="sceneList" open="(" separator="," close=")">
        #{item}
      </foreach>
    </if>
    <where>
      <if test="strategyName != null and strategyName != ''">
        and strategy_name LIKE CONCAT('%',#{strategyName},'%' )
      </if>
      <if test="strategyAction != null and strategyAction != ''">
        and strategy_action = #{strategyAction}
      </if>
      <if test="postAction != null and postAction != ''">
        and post_action = #{postAction}
      </if>
      <if test="warnLevel != null and warnLevel != ''">
        and warn_level = #{warnLevel}
      </if>
      <if test="runningStatus != null and runningStatus != ''">
        and running_status = #{runningStatus}
      </if>
      and status = 1
    </where>
    order by t1.strategy_name,t1.create_time
  </select>
  <select id="findAllScene" resultType="java.util.Map">
    SELECT scene_code AS id,parent_code AS pId,scene_name AS name FROM rule_scene;
  </select>
  <select id="findSceneByStrategyId" resultType="java.lang.String" parameterType="java.lang.String">
    SELECT scene_code FROM rule_scene_strategy_rel WHERE strategy_id = #{strategyId}
  </select>
  <!--获取所有规则-->
  <select id="getAllRules" resultType="java.util.Map" parameterType="string">
    SELECT t1.scene_code,t2.strategy_id,t3.strategy_name,t3.rule_content,t3.strategy_action,t3.post_action,t3.priority,t3.agent_bore
    FROM rule_scene t1,rule_scene_strategy_rel t2,rule_strategy t3
    WHERE
    t1.scene_code = t2.scene_code
    AND t2.strategy_id = t3.strategy_id
    and t3.status = 1
    and running_status = #{flag}
  </select>
  <!--获取单个模型的规则-->
  <select id="getRulesByStrategyId" resultType="java.util.Map" parameterType="string">
    SELECT t1.scene_code,t2.strategy_id,t3.strategy_name,t3.rule_content,t3.strategy_action,t3.post_action,t3.priority,t3.agent_bore
    FROM rule_scene t1,rule_scene_strategy_rel t2,rule_strategy t3
    WHERE
    t1.scene_code = t2.scene_code
    AND t2.strategy_id = t3.strategy_id
    AND t3.status = 1
    AND running_status = '1'
    AND t3.strategy_id = #{strategyId}
  </select>
  <!--获取模型对应的场景下的所有规则-->
  <select id="getAllRulesByStrategyId" resultType="java.util.Map" parameterType="map">
    SELECT t1.scene_code,t2.strategy_id,t3.strategy_name,t3.rule_content,t3.strategy_action,t3.post_action,t3.priority,t3.agent_bore
    FROM rule_scene t1,rule_scene_strategy_rel t2,rule_strategy t3
    WHERE
    t1.scene_code = t2.scene_code
    AND t2.strategy_id = t3.strategy_id
    AND t3.status = 1
    AND running_status = #{runningStatus}
    AND t1.scene_code IN (
    SELECT t1.scene_code FROM
    rule_scene t1,rule_scene_strategy_rel t2
    WHERE t1.scene_code = t2.scene_code
    AND t2.strategy_id =  #{strategyId})
  </select>
  <select id="findById" resultMap="BaseResultMap" parameterType="java.lang.String">
    select
    strategy_id, strategy_code, strategy_name, trn_type, channel, strategy_action, post_action,
    agent_bore, priority, warn_level, version, status,running_status,ab, remark,trainning_start_time,trainning_end_time,creater, create_time, modifier,
    modify_time,total_count,hit_count
    from rule_strategy
    where strategy_id = #{strategyId}
  </select>
  <select id="findStrategyCombineRels" resultType="java.util.Map" parameterType="java.lang.String">
    SELECT t1.strategy_id,t2.combine_rule_id,t2.combine_order,t3.combine_rule_name,t3.combine_expression,t3.remark,t3.creater
    FROM rule_strategy t1
    LEFT JOIN rule_strategy_combine_rel t2
    ON t1.strategy_id = t2.strategy_id
    LEFT JOIN rule_combine_rule t3
    ON t2.combine_rule_id = t3.combine_rule_id
    WHERE t1.strategy_id = #{strategyId}
    ORDER BY t2.combine_order
  </select>
  <select id="findStrategysByCombineRuleId" resultMap="BaseResultMap" parameterType="java.lang.String">
    SELECT
    t1.strategy_id, t1.strategy_code, t1.strategy_name, t1.trn_type, t1.channel, t1.strategy_action, t1.post_action,
    t1.agent_bore, t1.priority, t1.warn_level,t1.rule_content, t1.version, t1.status, t1.remark, t1.creater, t1.create_time, t1.modifier,
    t1.modify_time
    FROM rule_strategy t1,rule_strategy_combine_rel t2
    WHERE t1.strategy_id = t2.strategy_id AND t2.combine_rule_id = #{id}
    and t1.status = 1
  </select>
  <select id="findStrategyScenes" resultType="string" parameterType="java.lang.String">
    select scene_code from rule_scene_strategy_rel where strategy_id = #{strategyId}
  </select>
  <update id="updateStrategy" parameterType="com.ai.ocrm.rule.entity.Strategy" >
    update rule_strategy
    set strategy_code = #{strategyCode},
    strategy_name = #{strategyName},
    trn_type = #{trnType},
    channel = #{channel},
    strategy_action = #{strategyAction},
    post_action = #{postAction},
    agent_bore = #{agentBore},
    priority = #{priority},
    warn_level = #{warnLevel},
    version = #{version},
    status = #{status},
    running_status = #{runningStatus},
    ab = #{ab},
    creater = #{creater},
    create_time = #{createTime},
    modifier = #{modifier},
    modify_time = #{modifyTime}
    where strategy_id = #{strategyId}
  </update>
  <select id="getTrainingNum" resultType="int">
    SELECT COUNT(*) FROM rule_strategy t1
    WHERE t1.status = 1 AND t1.running_status = '1'
  </select>
  <!--修改模型状态-->
  <update id="updateStrategyStatus" parameterType="java.lang.String">
    UPDATE rule_strategy SET running_status = #{1}
    WHERE strategy_id = #{0}
  </update>
  <!--修改模型状态上线-->
  <update id="updateStrategyStatusOnline" parameterType="java.lang.String">
    UPDATE rule_strategy SET running_status = #{1},total_count = 0
    WHERE strategy_id = #{0}
  </update>
  <update id="updateStrategyTrainStartTime" parameterType="java.lang.String">
    UPDATE rule_strategy SET trainning_start_time = now(),total_count = 0, hit_count = 0
    WHERE strategy_id = #{0}
  </update>
  <update id="updateStrategyTrainEndTime" parameterType="java.lang.String">
    UPDATE rule_strategy SET trainning_end_time = now()
    WHERE strategy_id = #{0}
  </update>
  <!--修改模型的AB状态，同时置为空-->
  <update id="updateStrategyAb" parameterType="java.lang.String">
    UPDATE rule_strategy t SET t.ab = NULL WHERE t.strategy_name = (SELECT tmp.strategy_name FROM (
    SELECT t2.strategy_name FROM rule_strategy t2 WHERE t2.strategy_id = #{strategyId}) tmp)
  </update>
  <!---->
  <select id="getAbNum" parameterType="java.lang.String" resultType="java.lang.Integer">
    SELECT COUNT(*) FROM rule_strategy WHERE strategy_name = (SELECT strategy_name FROM rule_strategy WHERE strategy_id = #{strategyId})
    AND ab = 'A' AND  running_status = '4'
  </select>
  <!--删除A或B的伴生版本-->
  <select id="updateStrategyA" parameterType="java.lang.String">
    UPDATE rule_strategy t SET t.status = 0
    WHERE t.strategy_name =
    (SELECT tmp.strategy_name FROM
    (SELECT strategy_name FROM rule_strategy WHERE strategy_id = #{strategyId}) tmp)
    AND t.strategy_id != #{strategyId}
  </select>
  <!--动账类业务总数旧版本 -->
  <!--<select id="getCountAll" resultType="int" parameterType="java.lang.String">
    SELECT COUNT(*) FROM rrms_result_model_train t1
    WHERE t1.trade_time &gt; (
    SELECT trainning_start_time FROM rule_strategy WHERE strategy_id = #{strategyId}
    ) AND ((SELECT trainning_end_time FROM rule_strategy WHERE strategy_id = #{strategyId}) IS NULL OR
    t1.trade_time &lt; (SELECT trainning_end_time FROM rule_strategy WHERE strategy_id = #{strategyId}))
    AND CONCAT(t1.channel,t1.tran_type) IN (SELECT scene_code FROM rule_scene_strategy_rel WHERE strategy_id = #{strategyId})
  </select>-->
  <!--动账类业务总数最新版本 -->
  <select id="getCountAll" resultType="int" parameterType="java.lang.String">
    SELECT total_count FROM rule_strategy
    WHERE  strategy_id = #{strategyId}
  </select>

  <select id="getCountThis" resultType="int" parameterType="java.lang.String">
    SELECT COUNT(*)
    FROM rrms_result_model_train t1,rule_strategy_hit_model_train t2,rule_strategy t3
    WHERE t1.req_id = t2.req_id AND t2.strategy_id =  #{strategyId}
    AND t3.strategy_id = t2.strategy_id
    AND t1.trade_time &gt; t3.trainning_start_time
    AND (t3.trainning_end_time IS NULL OR t1.trade_time &lt; t3.trainning_end_time)
  </select>

  <select id="findByName" resultType="int" parameterType="map">
    select count(*)
    from rule_strategy
    where strategy_name = #{strategyName}
    <if test="strategyName != null and strategyName != ''">
      and strategy_id != #{strategyId}
    </if>
    and status = 1
  </select>

  <!--模型训练详情列表数据-->
  <select id="getModelTrainingList" resultMap="rrmsResult" parameterType="com.ai.ocrm.rule.entity.Strategy">
    SELECT t1.req_id, t1.channel,t1.payer_acc,t1.cst_no,t1.core_cst_no, t1.tran_type,
    t1.trn_amt,t1.opt_auth_mode, t1.operate_code,t1.warn_level,t1.answer,t1.trade_time,t1.is_hit
    FROM rrms_result_model_train t1
    <where>
      <if test="trainningStartTime != null">
        AND t1.trade_time &gt; #{trainningStartTime}
      </if>
      <if test="trainningEndTime != null">
        AND t1.trade_time &lt; #{trainningEndTime}
      </if>
      <if test="isHit!=null and isHit!=null">
        t1.is_hit=#{isHit}
       </if>
      AND t1.trade_time > CURDATE()
      AND CONCAT(t1.channel,t1.tran_type) IN (SELECT scene_code FROM rule_scene_strategy_rel WHERE strategy_id = #{strategyId})
    </where>
  </select>

  <update id="check" parameterType="java.lang.String">
    UPDATE rule_strategy SET check_status = #{1}
    WHERE strategy_id = #{0}
  </update>
  <select id="findNameByHit" parameterType="java.lang.String" resultType="java.lang.String">
 SELECT
    strategy_name
   FROM rule_strategy where  strategy_id=#{strategyid}
  </select>
  <select id="findHitCount" parameterType="java.lang.String" resultType="int">
     select count(0) from rule_strategy_hit where strategy_id = #{strategyid};
  </select>
  <!-- 模型训练中命中与上线命中旧版本-->
  <!--<select id="findStrategyHitCount" parameterType="java.lang.String" resultType="java.lang.String">
    SELECT
    hit_count
    FROM rule_strategy_hit_count where  strategy_id=#{strategyid}
  </select>
  <select id="findStrategyHitCountA" parameterType="java.lang.String" resultType="java.lang.String">
    SELECT
    hit_count_a
    FROM rule_strategy_hit_count where  strategy_id=#{strategyid}
  </select>-->
  <!-- 模型训练中命中新版本-->
  <select id="findStrategyHitCount" parameterType="java.lang.String" resultType="java.lang.String">
    SELECT
    hit_count
    FROM rule_strategy where  strategy_id=#{strategyid}
  </select>
  <!-- 模型上线命中新版本-->
  <select id="findStrategyHitCountA" parameterType="java.lang.String" resultType="java.lang.String">
    SELECT
    hit_count_a
    FROM rule_strategy where  strategy_id=#{strategyid}
  </select>
  <select id="findStrategySceneCount" parameterType="java.lang.String" resultType="int">
    SELECT
    sum(scene_count) as total_count
    from rule_strategy_scene_count
    WHERE scene_code
    in(SELECT scene_code from rule_scene_strategy_rel WHERE strategy_id=#{strategyid});
  </select>
  <select id="findStrategySceneCountA" parameterType="java.lang.String" resultType="int">
    SELECT
    sum(scene_count_a) as total_count
    from rule_strategy_scene_count
    WHERE scene_code
    in(SELECT scene_code from rule_scene_strategy_rel WHERE strategy_id=#{strategyid});
  </select>
  <!--模型训练详情列表命中与未命中数据-->
  <select id="getModelTrainingListAll" resultMap="rrmsResult" parameterType="com.ai.ocrm.rule.entity.Strategy">
    SELECT t1.req_id, t1.channel,t1.payer_acc,t1.cst_no,t1.core_cst_no, t1.tran_type,
    t1.trn_amt,t1.opt_auth_mode, t1.operate_code,t1.warn_level,t1.answer,t1.trade_time,t1.is_hit,
    case when t1.strategy_id_hit like CONCAT('%',#{strategyId},'%') then 1 else 0 end as 'ISHIT'
    FROM rrms_result_model_train t1
    <where>
      <if test="trainningStartTime != null">
        AND t1.trade_time &gt; #{trainningStartTime}
      </if>
      <if test="trainningEndTime != null">
        AND t1.trade_time &lt; #{trainningEndTime}
      </if>
      and t1.trade_time > CURDATE()
      AND CONCAT(t1.channel,t1.tran_type) IN (SELECT scene_code FROM rule_scene_strategy_rel WHERE strategy_id = #{strategyId})
    </where>

  </select>
  <!--模型训练详情列表命中数据-->
  <select id="getModelTrainingListHit" resultMap="rrmsResult" parameterType="com.ai.ocrm.rule.entity.Strategy">
    SELECT t1.req_id, t1.channel,t1.payer_acc,t1.cst_no,t1.core_cst_no, t1.tran_type,
    t1.trn_amt,t1.opt_auth_mode, t1.operate_code,t1.warn_level,t1.answer,t1.trade_time,t1.is_hit,
    case when 1=1 then 1 else 0 end as 'ISHIT'
    FROM rrms_result_model_train t1
    <where>
      <if test="trainningStartTime != null">
        AND t1.trade_time &gt; #{trainningStartTime}
      </if>
      <if test="trainningEndTime != null">
        AND t1.trade_time &lt; #{trainningEndTime}
      </if>
      AND t1.strategy_id_hit like CONCAT('%',#{strategyId},'%')
      and t1.trade_time > CURDATE()
      AND CONCAT(t1.channel,t1.tran_type) IN (SELECT scene_code FROM rule_scene_strategy_rel WHERE strategy_id = #{strategyId})
    </where>
  </select>
  <!--模型训练详情列表未命中数据-->
  <select id="getModelTrainingListNotHit" resultMap="rrmsResult" parameterType="com.ai.ocrm.rule.entity.Strategy">
    SELECT t1.req_id, t1.channel,t1.payer_acc,t1.cst_no,t1.core_cst_no, t1.tran_type,
    t1.trn_amt,t1.opt_auth_mode, t1.operate_code,t1.warn_level,t1.answer,t1.trade_time,t1.is_hit,
    case when 1=1 then 0 else 1 end AS 'ISHIT'
    FROM rrms_result_model_train t1
    <where>
      <if test="trainningStartTime != null">
        AND t1.trade_time &gt; #{trainningStartTime}
      </if>
      <if test="trainningEndTime != null">
        AND t1.trade_time &lt; #{trainningEndTime}
      </if>
      AND t1.strategy_id_hit NOT like CONCAT('%',#{strategyId},'%')
      and t1.trade_time > CURDATE()
      AND CONCAT(t1.channel,t1.tran_type) IN (SELECT scene_code FROM rule_scene_strategy_rel WHERE strategy_id = #{strategyId})
    </where>
  </select>



  <!--（上线）模型训练详情列表命中与未命中数据-->
  <select id="getOnlineModelTrainingListAll" resultMap="rrmsResult" parameterType="com.ai.ocrm.rule.entity.Strategy">
    SELECT t1.req_id, t1.channel,t1.payer_acc,t1.cst_no,t1.core_cst_no, t1.tran_type,
    t1.trn_amt,t1.opt_auth_mode, t1.operate_code,t1.warn_level,t1.answer,t1.trade_time,t1.is_hit,
    case when t1.strategy_id_hit like CONCAT('%',#{strategyId},'%') then 1 else 0 end as 'ISHIT'
    FROM rrms_result t1
    <where>
      <if test="trainningStartTime != null">
        AND t1.trade_time &gt; #{trainningStartTime}
      </if>
      <if test="trainningEndTime != null">
        AND t1.trade_time &lt; #{trainningEndTime}
      </if>
      and t1.trade_time > CURDATE()
      AND CONCAT(t1.channel,t1.tran_type) IN (SELECT scene_code FROM rule_scene_strategy_rel WHERE strategy_id = #{strategyId})
    </where>

  </select>
  <!--（上线）模型训练详情列表命中数据-->
  <select id="getOnlineModelTrainingListHit" resultMap="rrmsResult" parameterType="com.ai.ocrm.rule.entity.Strategy">
    SELECT t1.req_id, t1.channel,t1.payer_acc,t1.cst_no,t1.core_cst_no, t1.tran_type,
    t1.trn_amt,t1.opt_auth_mode, t1.operate_code,t1.warn_level,t1.answer,t1.trade_time,t1.is_hit,
    case when 1=1 then 1 else 0 end as 'ISHIT'
    FROM rrms_result t1
    <where>
      <if test="trainningStartTime != null">
        AND t1.trade_time &gt; #{trainningStartTime}
      </if>
      <if test="trainningEndTime != null">
        AND t1.trade_time &lt; #{trainningEndTime}
      </if>
      AND t1.strategy_id_hit like CONCAT('%',#{strategyId},'%')
      and t1.trade_time > CURDATE()
      AND CONCAT(t1.channel,t1.tran_type) IN (SELECT scene_code FROM rule_scene_strategy_rel WHERE strategy_id = #{strategyId})
    </where>
  </select>
  <!--（上线）模型训练详情列表未命中数据-->
  <select id="getOnlineModelTrainingListNotHit" resultMap="rrmsResult" parameterType="com.ai.ocrm.rule.entity.Strategy">
    SELECT t1.req_id, t1.channel,t1.payer_acc,t1.cst_no,t1.core_cst_no, t1.tran_type,
    t1.trn_amt,t1.opt_auth_mode, t1.operate_code,t1.warn_level,t1.answer,t1.trade_time,t1.is_hit,
    case when 1=1 then 0 else 1 end AS 'ISHIT'
    FROM rrms_result t1
    <where>
      <if test="trainningStartTime != null">
        AND t1.trade_time &gt; #{trainningStartTime}
      </if>
      <if test="trainningEndTime != null">
        AND t1.trade_time &lt; #{trainningEndTime}
      </if>
      AND t1.strategy_id_hit NOT like CONCAT('%',#{strategyId},'%')
      and t1.trade_time > CURDATE()
      AND CONCAT(t1.channel,t1.tran_type) IN (SELECT scene_code FROM rule_scene_strategy_rel WHERE strategy_id = #{strategyId})
    </where>
  </select>
</mapper>