<?xml version="1.0" encoding="UTF-8"?>
<!--
    status : 这个用于设置log4j2自身内部的信息输出,可以不设置,当设置成trace时,会看到log4j2内部各种详细输出
    monitorInterval : Log4j能够自动检测修改配置文件和重新配置本身, 设置间隔秒数。-->
<!-- status="OFF"，可以去掉，它的含义为是否记录log4j2本身的event信息，默认是OFF -->
<configuration status="error" monitorInterval="600">
<!-- 定义下面的引用名 -->
    <Properties>
        <!-- <property name="filepath">/data/rabbit-log/test-impl</property> -->
        <property name="filepath">.</property>
    </Properties>
    <!--先定义所有的appender-->
    <appenders>
        <!--这个输出控制台的配置-->
        <Console name="Console" target="SYSTEM_OUT">
            <!--控制台只输出level及以上级别的信息（onMatch），其他的直接拒绝（onMismatch）-->
            <ThresholdFilter level="trace" onMatch="ACCEPT" onMismatch="DENY"/>
            <!--这个都知道是输出日志的格式
	            X-B3-TraceId：Spring Cloud Sleuth生成的TraceID，它用来标识一条请求链路。一条请求链路中包含一个TraceID，多个SpanID。
	            X-B3-ParentSpanId：当前SpanID的父SpanID
	            X-B3-SpanId：Sleuth生成的SpanID，它表示一个基本的工作单元，比如：发送一个HTTP请求。
	           	X-Span-Export：是否要将该信息输出到Zipkin等跟踪信息收集器获取和存储
            -->
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} %-5p [${sys:appName},%X{X-B3-TraceId},%X{X-B3-SpanId},%X{X-B3-ParentSpanId},%X{X-Span-Export}] %C{1}:%L - %msg%xEx%n"/>
        </Console>

        <!--这个会打印出所有的信息，每次大小超过size，则这size大小的日志会自动存入按年份-月份建立的文件夹下面并进行压缩，作为存档
        <RollingFile name="subscribelogger" fileName="${filepath}/log/test-impl/subscribe/app.log"
                     filePattern="${filepath}/logs/test-impl/subscribe/$${date:yyyy-MM}/%d{yyyy-MM-dd HH}-%i.log.gz">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss z}|%msg%xEx%n"/>
            <SizeBasedTriggeringPolicy size="5MB" />
            <DefaultRolloverStrategy max="100" />
        </RollingFile>
        -->
        <!-- <RollingFile name="RollingFile_debug" fileName="${filepath}/log/debug/app.log"
                     filePattern="${filepath}/logs/debug/$${date:yyyy-MM}/%d{yyyy-MM-dd HH}-%i.log.gz">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss z} %-5level [${sys:appName},%X{X-B3-TraceId},%X{X-B3-SpanId},%X{X-B3-ParentSpanId},%X{X-Span-Export}] [%t] %class{36} %L %M - %msg%xEx%n"/>
            <SizeBasedTriggeringPolicy size="5MB" />
            <DefaultRolloverStrategy max="100" />
              <Filters>
                <ThresholdFilter level="warn" onMatch="DENY" onMismatch="NEUTRAL"/>
                <ThresholdFilter level="error" onMatch="DENY" onMismatch="NEUTRAL"/>
                <ThresholdFilter level="info" onMatch="DENY" onMismatch="NEUTRAL"/>
                <ThresholdFilter level="debug" onMatch="ACCEPT" onMismatch="DENY"/>
              </Filters>
        </RollingFile> -->
        <RollingFile name="RollingFile_info" fileName="${filepath}/log/info/app.log"
                     filePattern="${filepath}/logs/info/$${date:yyyy-MM}/%d{yyyy-MM-dd HH}-%i.log.gz">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss z} %-5level [${sys:appName},%X{X-B3-TraceId},%X{X-B3-SpanId},%X{X-B3-ParentSpanId},%X{X-Span-Export}] [%t] %class{36} %L %M - %msg%xEx%n"/>
            <SizeBasedTriggeringPolicy size="5MB" />
            <DefaultRolloverStrategy max="100" />
              <Filters>
                <ThresholdFilter level="warn" onMatch="DENY" onMismatch="NEUTRAL"/>
                <ThresholdFilter level="error" onMatch="DENY" onMismatch="NEUTRAL"/>
                <ThresholdFilter level="info" onMatch="ACCEPT" onMismatch="DENY"/>
              </Filters>
        </RollingFile>

        <RollingFile name="RollingFile_error" fileName="${filepath}/log/error/app.log"
                     filePattern="${filepath}/logs/error/$${date:yyyy-MM}/%d{yyyy-MM-dd HH}-%i.log.gz">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss z} %-5level [${sys:appName},%X{X-B3-TraceId},%X{X-B3-SpanId},%X{X-B3-ParentSpanId},%X{X-Span-Export}] [%t]  %class{36} %L %M - %msg%xEx%n"/>
            <SizeBasedTriggeringPolicy size="5MB" />
            <DefaultRolloverStrategy max="100" />
              <Filters>
                <ThresholdFilter level="error" onMatch="ACCEPT" onMismatch="DENY"/>
              </Filters>
        </RollingFile>
    </appenders>

    <!--然后定义logger，只有定义了logger并引入的appender，appender才会生效-->
    <loggers>
    	<!--过滤掉spring和mybatis的一些无用的DEBUG信息-->
        <logger name="org.mybatis" level="info"> </logger>
        <logger name="cn.com.zsyk" level="info" > </logger>
        <logger name="org.springframework" level="info" > </logger>
        <logger name="org.springframework.web" level="info" > </logger>
        <logger name="tk.mybatis.springboot.mapper" level="info" > </logger>
        <logger name="org.springframework.cloud.sleuth" level="debug" > </logger>

    	<!--建立一个默认的root的logger-->
        <root level="info">
            <appender-ref ref="Console"/>
            <appender-ref ref="RollingFile_info"/>
            <appender-ref ref="RollingFile_error"/>
        </root >

        <!--
        <Logger name="subscribelogger" level="info" additivity="false">
            <appender-ref ref="subscribelogger"/>
        </Logger> -->
    </loggers>
</configuration>
