<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%-d{yyyy-MM-dd HH:mm:ss.SSS} %-5p %C{1}:%L - %msg%xEx%n"/>
        </Console>
    </appenders>
    <loggers>
        <root level="error">
            <appender-ref ref="Console"/>
        </root>
        <logger name="cn.com.zsyk" level="info"></logger>
        <logger name="org.springframework" level="info"></logger>
        <logger name="org.quartz" level="info"></logger>
    </loggers>
</configuration>
