<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.zsyk.crm.query.mapper.GpPolicyPayMentDetailMapper">

  <!--缴费信息、承保、批改 根据角色用户忠诚度用户 -->
  <select id="selectLoyaltyUserByRole" parameterType="Map" resultType="cn.com.zsyk.crm.query.bo.LoyaltyUserCount">
		  select count(loyaltyUser) loyaltyUserCount, 0 otherUserCount
			  from (select count(*) loyaltyUser
			          from gppolicypaymentdetail gpd,gptradeinfo gpt
			         <where> 
			            gpt.paymentno = gpd.paymentno
			            and gpt.tradestatus = '1'
 						and gpd.feetypecode IN ('R10', 'R10T', 'OCST1', 'OCST2', 'OCST3')
 						and gpd.PAYDATE BETWEEN TO_DATE(#{startDate},'yyyy-mm-dd hh24:mi:ss') AND TO_DATE(#{endDate},'yyyy-mm-dd hh24:mi:ss')
						 <if test="userId !='dev'">
						<if test="custAgentList != null and custAgentList.size()>0">
							and gpd.salesmancode in
							<foreach collection="custAgentList" index="index" item="item" open="("
								separator="," close=")">
								#{item}
							</foreach>
						</if>
						</if>
				  </where>
			       group by gpd.payeename
			       having count(*)  >= #{count})
			union all
			select 0 loyaltyUserCount, count(loyaltyUser) otherUserCount
			  from (select count(*) loyaltyUser
			         from gppolicypaymentdetail gpd,gptradeinfo gpt
			          <where> 
			            gpt.paymentno = gpd.paymentno
       			        and gpt.tradestatus = '1'
 						and gpd.feetypecode IN ('R10', 'R10T', 'OCST1', 'OCST2', 'OCST3')
 						and gpd.PAYDATE BETWEEN TO_DATE(#{startDate},'yyyy-mm-dd hh24:mi:ss') AND TO_DATE(#{endDate},'yyyy-mm-dd hh24:mi:ss')
					     <if test="userId !='dev'">
						<if test="custAgentList != null and custAgentList.size()>0">
							and gpd.salesmancode in
							<foreach collection="custAgentList" index="index" item="item" open="("
								separator="," close=")">
								#{item}
							</foreach>
						</if>
						</if>
				  </where>
			       group by gpd.payeename
			       having count(*)  <![CDATA[<]]> #{count})

  </select>
 
</mapper>